.formulario{
    margin-bottom: -1785px;
}



@media only screen and (max-width: 900px) {


    .formulario{
       width: 80rem;
       max-height: max-content;
      margin-top: 40rem;
    }
    
  
  
  
  }